In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [17]:
path = "https://raw.githubusercontent.com/codebasics/py/master/ML/1_linear_reg/Exercise/canada_per_capita_income.csv"

In [24]:
df = pd.read_csv(path)

In [36]:
df.tail()

    year  per capita income (US$)
42  2012              42665.25597
43  2013              42676.46837
44  2014              41039.89360
45  2015              35175.18898
46  2016              34229.19363

In [26]:
df.describe()

              year  per capita income (US$)
count    47.000000                47.000000
mean   1993.000000             18920.137063
std      13.711309             12034.679438
min    1970.000000              3399.299037
25%    1981.500000              9526.914515
50%    1993.000000             16426.725480
75%    2004.500000             27458.601420
max    2016.000000             42676.468370

In [30]:
x = df[['year']]
y = df['per capita income (US$)']

In [31]:
lm = linear_model.LinearRegression()
lm.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [37]:
lm.predict([[2020]])

array([41288.69409442])